<div class="ui raised very padded text container purple segment">
  <div class="ui container title">
    <h2 class="ui icon header title">
    <i class="settings icon "></i>
    <div class="content">
      Quote Tool
      <div class="sub header">Quotes from multiple carriers. See how much you will save!</div>
    </div>
    </h2>
  </div>
  <div class="ui stackable two column grid">
  <div class="column">
    <h2 class="ui icon header">
    <i class="circular car icon"></i>
      <div class="sub header">Auto Insurance</div>
      <div class="content">
      <div class="ui animated fade green button" tabindex="0">
        <div class="visible content">Get a Quote</div>
        <div class="hidden content">
          Go!
        </div>
      </div>
    </div>
    </h2>
  </div>
  <div class="column">
    <h2 class="ui icon header">
    <i class="circular home icon"></i>
      <div class="sub header">Homeowners Insurance</div>
      <div class="content">
      <div class="ui animated fade orange button" tabindex="0">
        <div class="visible content">Get a Quote</div>
        <div class="hidden content">
          Go!
        </div>
      </div>
    </div>
    </h2>
  </div>
  <div class="column">
    <h2 class="ui icon header">
    <i class="circular child icon"></i>
      <div class="sub header">Life Insurance</div>
      <div class="content">
      <div class="ui animated fade red button" tabindex="0">
        <div class="visible content">Get a Quote</div>
        <div class="hidden content">
          Go!
        </div>
      </div>
    </div>
    </h2>
  </div>
  <div class="column">
    <h2 class="ui icon header">
      <i class="circular building icon"></i>
        <div class="sub header">Commercial Insurance</div>
        <div class="content">
        <div class="ui animated fade purple button" tabindex="0">
          <div class="visible content">Get a Quote</div>
          <div class="hidden content">
            Go!
          </div>
        </div>
      </div>
    </h2>
  </div>
</div>
</div>
