<div class="ui raised very padded text container purple segment" (mouseenter)="moveGears()">
  <div class="ui container title">
    <h2 class="ui icon header title">
      <div class="gear">
        <h1><i [@moveGear]="gears" class="setting icon gear1"></i></h1>
        <div class="small-gear">
          <h5><i [@moveGear]="gears" class="setting icon gear2"></i></h5>
          <h5><i [@moveGear]="gears" class="setting icon gear2"></i></h5>
        </div>
      </div>
    <div class="content">
      Quote Tool
      <div class="sub header">Quotes from multiple carriers. See how much you will save!</div>
    </div>
    </h2>
  </div>
  <div class="ui stackable two column grid">
  <div class="column">
    <h2 class="ui icon header">
    <i class="circular car icon"></i>
      <div class="sub header">Auto Insurance</div>
        <button id="autoQuote" type="button" name="auto" (click)="toggleAuto()">Get Quote</button>
    </h2>
  </div>
  <div class="column">
    <h2 class="ui icon header">
    <i class="circular home icon"></i>
      <div class="sub header">Homeowners Insurance</div>
      <button type="button" name="HomeOwner">Get Quote</button>
    </h2>
  </div>
  <div class="column">
    <h2 class="ui icon header">
    <i class="circular child icon"></i>
      <div class="sub header">Life Insurance</div>
      <button type="button" name="life">Get Quote</button>
    </h2>
  </div>
  <div class="column">
    <h2 class="ui icon header">
      <i class="circular building icon"></i>
        <div class="sub header">Commercial Insurance</div>
      <button type="button" name="commercial">Get Quote</button>
    </h2>
  </div>
</div>
</div>


<!-- The Modal -->
<div  class="modal" [@auto-modal]="autoState">

  <!-- Modal content -->
  <div class="modal-content ">
    <span id="close1" class="close" (click)="toggleAuto()">&times;</span>
    <app-auto></app-auto>
  </div>

</div>
