<div class="ui grid">
  <div  class="two wide column">
    <button (click)="toggleLeft()" type="button" class="ui red button left"name="button"></button>
  </div>
  <div [@column]="leftState" class="two wide column">
    <h1><i class="home icon"></i></h1>
    Company 1
  </div>
  <div [@column]="leftState" class="two wide column">
    <h1><i class="building icon"></i></h1>
    Company 2
  </div>
  <div [@column]="leftState" class="two wide column">
    <h1><i class="child icon"></i></h1>
    Company 3
  </div>
  <div [@column]="leftState" class="two wide column">
    <h1><i class="home icon"></i></h1>
    Company 4
  </div>
  <div [@column]="leftState" class="two wide column">
    <h1><i class="child icon"></i></h1>
    Company 5
  </div>
  <div [@column]="leftState" class="two wide column">
    <h1><i class="building icon"></i></h1>
    Company 6
  </div>
  <div  class="two wide column">
      <button type="button" class="ui green button right"name="button" (click)="toggleRight()"></button>
  </div>
</div>
