<div class="row">
  <div  class="arrow">
    <h2><i (click)="toggleLeft()" class="chevron left icon"></i></h2>
  </div>
  <div [@column]="leftState" class="column">
    <img src="" alt="">
  </div>
  <div [@column]="leftState" class="column">
  </div>
  <div [@column]="leftState" class="column">
  </div>
  <div [@column]="leftState" class="column">
  </div>
  <div  class="arrow">
      <h2><i (click)="toggleRight()" class="chevron right icon"></i></h2>
  </div>
</div>
<div class="triangle-down"></div>
