<!-- Statistics -->
<div class="ui stackable two column grid savings">
  <div class="ten wide column">
    <h1>Average Savings Per New Policy: </h1>
  </div>
  <div class="six wide column">
    <div class="ui statistics">
      <div class="grey statistic">
        <div class="value">
          <i class="home icon"></i>
          $2,204
        </div>
        <div class="label">
        Per Year
        </div>
      </div>
    </div>
  </div>
</div>

<app-quote></app-quote>
<app-slider></app-slider>
<app-auto></app-auto>
