<div class="ui grid savings">
  <div class="ten wide column">
    <h1>Average Savings per new policy: </h1>
  </div>
  <div class="six wide column">
    <h1>$300</h1>
  </div>

</div>
<h1>Get Quote</h1>
<div class="ui four column doubling stackable grid container quote">
  <div class="column">
    <a class="item ib">
      <i class="car icon"></i>
    </a>
  </div>
  <div class="column">
    <a class="item ib">
      <i class="home icon"></i>
    </a>
  </div>
  <div class="column">
    <a class="item ib">
      <i class="child icon"></i>
    </a>
  </div>
  <div class="column">
    <a class="item ib">
      <i class="building icon"></i>
    </a>
  </div>
</div>
