<!-- Statistics -->
<div class="savings">
  <div class="column1">
    <h1>Something about saving money or # of clients:</h1>
  </div>
  <div class="column2">
    <h1>
    <i class="home icon"></i>
    $2,204</h1>
  </div>
</div>
<div class="triangle-down"></div>
<div class="gap"></div>
<app-quote></app-quote>
<app-slider></app-slider>
<!--Testimonials-->
<div class="testimony">
  <h1>What our clients are saying...</h1>
  <div class="ui three stackable cards">
    <div class="ui card">
      <div class="content">
        <div class="header">About Relationships</div>
        <div class="meta">Long Standing Client</div>
        <div class="description">
          <p>Jill Klinefelter has been our family insurance agent for the past 7 years. She has always taken the time to understand our family’s needs. It is so nice to know that when we need something, she will be there to help. I never have to worry about getting ahold of her or her staff. They are fast, friendly and professional.</p>
        </div>
      </div>
      <div class="extra content">
        <i class="heart icon"></i>
        Tom
      </div>
    </div>
    <div class="ui card">
    <div class="content">
      <div class="header">Saving Money</div>
      <div class="meta">Happy Customer</div>
      <div class="description">
        <p>Not only was Klinefelter Insurance able to save us a TON of money, but they were able to give us better coverage too!!! I was so happy with them, I have referred several of my friends and family, who have also been very happy!</p>
      </div>
    </div>
    <div class="extra content">
      <i class="heart icon"></i>
      Alice
    </div>
  </div>
  <div class="ui card">
    <div class="content">
      <div class="header">And Peace of Mind</div>
      <div class="meta">Happy Camper</div>
      <div class="description">
        <p>I have such peace of mind knowing that Jill and her staff are just a phone call or email away. Whenever I have needed anything, it always gets handled quickly and efficiently.</p>
      </div>
    </div>
    <div class="extra content">
      <i class="check icon"></i>
      Jacob
    </div>
  </div>
  </div>
</div>
<div class="blog">
  <div class="left-blog">
    <h1>Industry News</h1>
    <h3>Subscribe to our blog to read the latest and greatest</h3>
  </div>
  <div class="right-blog">
    <div class="triangle-side"></div>
    <div class="right-blog-text">
    <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum...</h5>
    <!-- Testing RSS feeds paired with a RSS Feed Widget -->
    <!-- <div id="widgetmain" style="text-align:left;overflow-y:auto;overflow-x:hidden;width:500px;background-color:#transparent; border:1px solid #F1F1F1;"><div id="rsswidget" style="height:250px;"><iframe src="http://us1.rssfeedwidget.com/getrss.php?time=1496171941221&amp;x=https%3A%2F%2Finsurance.einnews.com%2Frss%2FgQDhgHDCopfGhkSf&amp;w=500&amp;h=200&amp;bc=F1F1F1&amp;bw=1&amp;bgc=transparent&amp;m=20&amp;it=false&amp;t=(default)&amp;tc=333333&amp;ts=18&amp;tb=transparent&amp;il=true&amp;lc=8150AB&amp;ls=16&amp;lb=false&amp;id=true&amp;dc=333333&amp;ds=14&amp;idt=false&amp;dtc=284F2D&amp;dts=12" border="0" hspace="0" vspace="0" frameborder="no" marginwidth="0" marginheight="0" style="border:0; padding:0; margin:0; width:500px; height:250px;" id="rssOutput">Reading RSS Feed ...</iframe></div><div style="text-align:right;margin-bottom:0;border-top:1px solid #F1F1F1;" id="widgetbottom"><br></div></div> -->
    <div class="more">
      <button type="button" name="button">Read More</button>
    </div>
    </div>
  </div>
</div>
<div class="marketing" (mouseenter)="toggleRefer()" (mouseleave)="toggleRefer()">
  <h1>Referral Program</h1>
  <span class="referral-line" [@referral]="referState"></span>
  <div class="referral-text">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class="marketing-triangle-left" [@triangleLeft]="triState"></div>
  <div class="marketing-triangle-right" [@triangleRight]="triState"></div>
</div>
<app-footer></app-footer>
