/* You can add global styles to this file, and also import other style files */

:root {
  --purple: #8150AB;
  --blue: #00b;
  --fullwidth: 100%;
  --fullview: 100vw;
  --fullviewheight: 100vh;
}


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: none;
}

body {
  font-size: 16px;
  color: #808080;
  line-height: 1.5;
  padding: 0px;
  margin: 0px;
}
