<div class="contain">
  <div class="top-bar">
    <div class="location">
      <div class="top-elements">
            <p><i class="marker icon"></i>950 Pacific Ave Ste 640 Tacoma, Wa 98402</p>
      </div>
      <div class="top-elements">
        <p><i class="clock icon"></i>Mon/Fri 8:00-4:30</p>
      </div>
    </div>
    <div class="quote">
      <div class="ui compact menu">
        <div class="ui simple dropdown item">
          Get A Quote
          <i class="dropdown icon"></i>
          <div class="menu">
            <a class="item">
            <div class="item"> <i class="car icon"></i>Auto</div>
            </a>
            <a class="item">
            <div class="item"> <i class="home icon"></i>Home</div>
            </a>
            <a class="item">
            <div class="item"> <i class="child icon"></i>Life</div>
            </a>
            <a class="item">
            <div class="item"> <i class="building icon"></i>Commercial</div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="contact">
      <div class="top-elements">
        <i class="call square icon"></i>
        <a class="item tel" href="ph:2532720515">253-272-0515</a>
      </div>
      <div class="top-elements chat">
        <a href="#">Chat</a>
        <i class="comments icon"></i>
      </div>
    </div>
  </div>
  <div class="hero">
    <div class="menu-div">
      <div class="social-menu">
        <a href="http://facebook.com" class="social-icon">
          <i class="circular facebook icon"></i>
        </a>
        <a class="social-icon">
          <i class="circular twitter icon"></i>
        </a>
        <a class="social-icon">
          <i class="circular youtube icon"></i>
        </a>
        <a class="social-icon">
          <i class="circular linkedin icon"></i>
        </a>
      </div>
      <div class="nav-menu">
        <a class="link">
          Home
        </a>
        <a class="link">
          Products
        </a>
        <a class="link">
          Carriers
        </a>
        <a class="link">
          About Agent
        </a>
        <a class="link">
          Testimonials
        </a>
        <a class="link">
          Referral
        </a>
        <a class="link">
          FAQ
        </a>
      </div>
    </div>
    <div class="left-hero">
      <div class="hero-text">
        <img class="logo" src="/assets/logo-white-2.png" alt="Logo">
        <div class="tacoma">
          <h1 class="title">TACOMA'S</h1>
          <h3> INSURANCE BROKER</h3>
        </div>
        <div class="play">
          <img src="/assets/play.png" alt="Play Video" class="play-icon">
        </div>
      </div>
      <div class="triangle"></div>
    </div>
  </div>
</div>
