<div class="ui grid top-bar">
  <div class="eight wide column location">
    <p><i class="marker icon"></i>950 Pacific Ave Ste 640 Tacoma, Wa 98402</p>
  </div>
  <div class="four wide column quote">
    <div class="ui compact menu">
      <div class="ui simple dropdown item">
        Get A Quote
        <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item">
          <div class="item"> <i class="car icon"></i>Auto</div>
          </a>
          <a class="item">
          <div class="item"> <i class="home icon"></i>Home</div>
          </a>
          <a class="item">
          <div class="item"> <i class="child icon"></i>Life</div>
          </a>
          <a class="item">
          <div class="item"> <i class="building icon"></i>Commercial</div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="four wide column contact">
    <i class="call square icon"></i><a class="item ib tel" href="ph:2532720515">253-272-0515</a>
    <p class="ib">| Chat</p>
    <i class="comments icon"></i><a class="item ib" href="mailto:tatumhanna@klinefelterinsurancegroup.com"></a>
  </div>
</div>
<div class="ui grid hero">
  <div class="sixteen wide column">
<div class="ui grid menu-div">
  <div class="four wide column logo">

  </div>
  <div class="eight wide column">
    <div class="ui secondary pointing menu">
      <div class="right menu">
        <a class="active item">
          Home
        </a>
        <a class="item">
          Products
        </a>
        <a class="item">
          Carriers
        </a>
        <a class="item">
          About Agent
        </a>
        <a class="item">
          Testimonials
        </a>
        <a class="item">
          Referral
        </a>
        <a class="item">
          FAQ
        </a>
      </div>
    </div>
  </div>
  <div class="two wide column social">
    <a href="http://facebook.com" class="item ib">
      <i class="facebook icon"></i>
    </a>
    <a class="item ib">
      <i class="twitter icon"></i>
    </a>
    <a class="item ib">
      <i class="youtube icon"></i>
    </a>
    <a class="item ib">
      <i class="linkedin icon"></i>
    </a>
  </div>
  <div class="two wide column"></div>
  </div>
  </div>
  <div class="ui container hero-text">
    <h1 class="ib title">KLINEFELTER</h1><h1 class="ib"> INSURANCE GROUP</h1>
  </div>
</div>
