<div class="main-container">
  <div class="top-bar">
  </div>
  <div class="bottom-bar">
    <div class="column" [@column]="arrowState" (mouseenter)="toggleArrow()">
      <div class="arrow"></div>
      <h3>Newsletter Sign Up</h3>
      <div class="ui form">
        <form class=""  method="post">
          <div class="ui icon input">
            <input type="text" name="" value="" placeholder="Email">
            <i class="mail icon"></i>
          </div>
        </form>
      </div>
      <button type="button" name="button">Join Now</button>
    </div>
    <div class="column">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="column">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="column">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>
</div>
