<div class="main-container">
  <div class="top-bar">
  </div>
  <div class="bottom-bar">
    <div class="column">
      <h3>Newsletter Sign Up</h3>
      <div class="ui form">
        <form class=""  method="post">
          <div class="ui icon input">
            <input type="text" name="" value="" placeholder="Email">
            <i class="mail icon"></i>
          </div>
        </form>
      </div>
      <button type="button" name="button">Join Now</button>
    </div>
    <div class="column">
      <a href="#">Home</a>
      <a href="#">Products</a>
      <a href="#">About Agent</a>
      <a href="#">Testimonials</a>
      <a href="#">Referral</a>
      <a href="#">FAQ</a>
    </div>
    <div class="column">
      <h5><i class="marker icon"></i> Location</h5>
      <h5><i class="phone icon"></i> Contact</h5>
      <h5><i class="mail icon"></i> Email</h5>
    </div>
    <div class="column">
      <h3>Klinefelter Logo Here</h3>
        <p>Klinefelter Insurance | Insurance Broker for Tacoma and surrounding areas</p>
        <h5><i class=" facebook icon"></i><i class=" linkedin icon"></i></h5>
    </div>
  </div>
  <div class="anchor">
    <p>Property of Klinefelter Insurance | Created By: Rich Hanna and Ian Tseng</p>
  </div>
</div>
